<!DOCTYPE html>
<html>

<head>
    <title>Home page!!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: indigo;
        }
        
        #show {
            padding: 10px;
            color: white;
            margin-top: 200px;
            text-align: center;
        }
        
        div {
            background-color: darkblue;
            background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
        }
        
        div a,
        div b {
            color: blueviolet;
        }
    </style>
</head>

<body>
    <div id="show">
        <h3>Thanks for visiting. Simple Webpage by <a href="mailto:carronmuleya10@gmail.com"><b>Carron Muleya</b></a>
        </h3>

    </div>
</body>

</html>